  <!--Box-Num-1-->

  <div
    
    
  >
    <a href="">
      <div
      [class]="true ? 'bg-dark-subtle':'bg-dark'"
        class="boxCon  d-flex align-items-center justify-content-center rounded-3 border border-2 border-black"
      >
        <div>
            <h4>[ {{ sendPaerntPortFolio.id }} ]</h4>
          <h3>{{ sendPaerntPortFolio.title }}</h3>
          <P>{{ sendPaerntPortFolio.description }}</P>
          <p class="fs-4 text-danger">Price : {{sendPaerntPortFolio.price}} $</p>
        </div>
      </div>
    </a>
  </div>
